.cart-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--base-color-white);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 880px;
  height: 552px;
}
.text142 {
  position: relative;
  font-weight: 500;
}
.buttonbasetext-md29 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonbtn-basic24 {
  position: absolute;
  height: 7.44%;
  top: 92.56%;
  bottom: 0;
  left: calc(50% + 285px);
  border-radius: var(--br-7xs);
  background-color: var(--base-color-white);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
  text-align: center;
  color: var(--primary);
}
.iconcontrolarrow-back2 {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.buttonbasetext-md30 {
  position: absolute;
  width: calc(100% - 59px);
  top: calc(50% - 9px);
  right: 14px;
  left: 45px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.background-icon50,
.buttonbtn-basic25 {
  position: absolute;
  border-radius: var(--br-7xs);
}
.buttonbtn-basic25 {
  top: 491px;
  left: 19px;
  background: linear-gradient(180deg, #127fff, #0067ff);
  width: 159px;
  height: 40px;
  cursor: pointer;
  color: var(--base-color-white);
}
.background-icon50 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.text144 {
  position: absolute;
  top: 11px;
  left: 10px;
}
.iconcontrolexpand-more15 {
  position: absolute;
  top: calc(50% - 12px);
  right: 8px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.formselectbox3 {
  position: absolute;
  height: 29.41%;
  width: 14.64%;
  top: 29.41%;
  right: 0;
  bottom: 41.18%;
  left: 85.36%;
  box-shadow: var(--shadow-sm);
}
.buttonbtn-basic26,
.buttonbtn-basic27 {
  position: absolute;
  height: 22.06%;
  top: 63.24%;
  bottom: 14.71%;
  border-radius: var(--br-7xs);
  background-color: var(--base-color-white);
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-3xs);
  text-align: center;
  font-size: var(--text-btn-btn-small-size);
}
.buttonbtn-basic26 {
  left: calc(50% - 329px);
  cursor: pointer;
  color: var(--color-tomato);
}
.buttonbtn-basic27 {
  left: calc(50% - 250.5px);
  color: var(--primary);
}
.text147,
.text148 {
  position: absolute;
  left: 10.71%;
  letter-spacing: -0.2px;
  display: inline-block;
}
.text147 {
  width: 85.48%;
  top: 0;
  font-size: var(--title-h4-size);
  line-height: 28px;
  font-weight: 600;
}
.text148 {
  width: 51.07%;
  top: 20.59%;
  line-height: 24px;
  color: var(--gray-500);
  white-space: pre-wrap;
}
.number2 {
  position: absolute;
  top: 4.41%;
  left: 93.57%;
  line-height: 22px;
  font-weight: 500;
  text-align: right;
}
.image2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-300);
  border: 1px solid var(--base-color-gray-200);
  box-sizing: border-box;
}
.bitmap-icon3 {
  height: 85.29%;
  width: 75.14%;
  top: 7.14%;
  right: 12.43%;
  bottom: 7.57%;
  left: 12.43%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.bitmap-icon3,
.image-35-icon16,
.imagecloth12 {
  position: absolute;
  overflow: hidden;
}
.imagecloth12 {
  height: 87.5%;
  width: 87.5%;
  top: 6.25%;
  right: 6.25%;
  bottom: 6.25%;
  left: 6.25%;
  background-color: var(--base-color-white);
  mix-blend-mode: multiply;
}
.image-35-icon16 {
  height: 73.75%;
  width: 76.25%;
  top: 13.75%;
  right: 11.25%;
  bottom: 12.5%;
  left: 12.5%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.img-group2 {
  position: absolute;
  height: 58.82%;
  width: 9.52%;
  top: 0;
  right: 90.48%;
  bottom: 41.18%;
  left: 0;
}
.item-cart2 {
  position: absolute;
  top: 23px;
  left: 20px;
  border-bottom: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 840px;
  height: 136px;
}
.seller-best-factory {
  margin: 0;
}
.number3 {
  position: absolute;
  top: 4.41%;
  left: 93.33%;
  line-height: 22px;
  font-weight: 500;
  text-align: right;
}
.image-26-icon2 {
  position: absolute;
  height: 86.29%;
  width: 86.29%;
  top: 7.14%;
  right: 6.57%;
  bottom: 6.57%;
  left: 7.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-351 {
  position: absolute;
  height: 73.75%;
  width: 76.25%;
  top: 13.75%;
  right: 11.25%;
  bottom: 12.5%;
  left: 12.5%;
}
.item-cart3 {
  position: absolute;
  top: 179px;
  left: 19px;
  border-bottom: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 840px;
  height: 136px;
}
.number4 {
  position: absolute;
  top: 4.41%;
  left: 92.62%;
  line-height: 22px;
  font-weight: 500;
  text-align: right;
}
.image-94-icon2 {
  position: absolute;
  height: 91.14%;
  width: 91.14%;
  top: 4.43%;
  right: 4.43%;
  bottom: 4.43%;
  left: 4.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.item-cart4 {
  position: absolute;
  top: 335px;
  left: 20px;
  border-bottom: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 840px;
  height: 136px;
}
.cart7 {
  position: absolute;
  top: 168px;
  left: 130px;
  width: 880px;
  height: 560.8px;
  color: var(--base-color-dark);
}
.bg-icon44 {
  position: absolute;
  top: 0;
  left: 10.9px;
  border-radius: var(--br-7xs);
  width: 280px;
  height: 302px;
  object-fit: cover;
}
.miscpayment-icon4,
.miscpayment-icon5 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.miscpayment-icon4 {
  height: 7.5%;
  width: 11.34%;
  top: 92.5%;
  right: 82.98%;
  bottom: 0;
  left: 5.67%;
}
.miscpayment-icon5 {
  right: 68.96%;
  left: 19.7%;
}
.miscpayment-icon5,
.miscpayment-icon6,
.miscpayment-icon7 {
  height: 7.5%;
  width: 11.34%;
  top: 92.5%;
  bottom: 0;
}
.miscpayment-icon6 {
  position: absolute;
  right: 54.93%;
  left: 33.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.miscpayment-icon7 {
  right: 40.91%;
  left: 47.75%;
}
.background-icon53,
.image-21-icon1,
.miscpayment-icon7 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.background-icon53 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
}
.image-21-icon1 {
  height: 50.22%;
  width: 79.39%;
  top: 27.51%;
  right: 8.79%;
  bottom: 22.27%;
  left: 11.82%;
}
.miscpayment1 {
  position: absolute;
  height: 7.5%;
  width: 11.34%;
  top: 92.5%;
  right: 26.88%;
  bottom: 0;
  left: 61.77%;
}
.buttonbasetext-lg1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonbtn-basic32 {
  position: absolute;
  top: 187px;
  left: 26.9px;
  border-radius: var(--br-5xs);
  background-color: var(--green);
  box-shadow: 0 4px 4px rgba(25, 227, 21, 0.36);
  width: 248px;
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-size: var(--title-h5-size);
  color: var(--base-color-white);
}
.text160 {
  width: 18.01%;
  top: calc(50% - 16px);
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.price13,
.row4,
.text160 {
  position: absolute;
}
.price13 {
  width: 33.61%;
  top: calc(50% - 22px);
  left: 66.39%;
  font-size: var(--title-h4-size);
  letter-spacing: -0.2px;
  line-height: 28px;
  font-weight: 600;
  text-align: right;
  display: inline-block;
  height: 28px;
}
.row4 {
  width: 81.51%;
  top: calc(50% + 22.35px);
  right: 18.15%;
  left: 0.34%;
  height: 44px;
  color: var(--base-color-dark);
}
.total-price1 {
  width: 27.46%;
  top: calc(50% - 24px);
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
}
.div25,
.row5,
.total-price1 {
  position: absolute;
}
.div25 {
  width: 25.81%;
  top: calc(50% - 24px);
  left: 74.15%;
  letter-spacing: -0.2px;
  line-height: 24px;
  text-align: right;
  display: inline-block;
  height: 24px;
}
.row5 {
  width: 81.51%;
  top: calc(50% - 94.65px);
  right: 18.15%;
  left: 0.34%;
  height: 48px;
}
.discount1 {
  width: 28.68%;
  top: calc(50% - 24px);
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  height: 24px;
}
.discount1,
.div26,
.row6 {
  position: absolute;
}
.div26 {
  width: 26.61%;
  top: calc(50% - 24px);
  left: 73.34%;
  letter-spacing: -0.2px;
  line-height: 24px;
  color: var(--color-tomato);
  text-align: right;
  display: inline-block;
}
.row6 {
  width: 81.51%;
  top: calc(50% - 65.65px);
  right: 18.15%;
  left: 0.34%;
  height: 48px;
}
.div27,
.tax1 {
  position: absolute;
  width: 12.7%;
  top: calc(50% - 24px);
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
}
.div27 {
  width: 27.04%;
  left: 72.92%;
  color: var(--green);
  text-align: right;
}
.border2,
.row7 {
  position: absolute;
  width: 81.51%;
}
.row7 {
  top: calc(50% - 36.65px);
  right: 18.15%;
  left: 0.34%;
  height: 48px;
}
.border2 {
  height: 0.33%;
  top: 44.68%;
  right: 18.49%;
  bottom: 55%;
  left: 0;
  background-color: var(--color-gainsboro-400);
}
.asida-summary1 {
  position: absolute;
  top: 290px;
  left: 1019.1px;
  width: 290.9px;
  height: 305.3px;
  color: var(--gray-600);
}
.layoutheader-alibaba-child3 {
  position: absolute;
  height: 47.67%;
  width: 5.14%;
  top: 24.42%;
  right: 89.79%;
  bottom: 27.91%;
  left: 5.07%;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.bg-icon45 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-icon20 {
  position: relative;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.my-cart5 {
  position: absolute;
  top: 63.41%;
  left: 0;
}
.cart8,
.vector-icon21 {
  position: absolute;
  top: 0;
}
.cart8 {
  height: 100%;
  width: 19.3%;
  right: 0;
  bottom: 0;
  left: 80.7%;
  cursor: pointer;
}
.vector-icon21 {
  height: 44%;
  width: 51.28%;
  right: 23.08%;
  bottom: 56%;
  left: 25.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.orders10,
.orders11 {
  position: absolute;
  top: 62.5%;
  left: 0;
}
.orders10 {
  height: 97.56%;
  width: 17.11%;
  top: 2.44%;
  right: 27.19%;
  bottom: 0;
  left: 55.7%;
}
.vector-icon22 {
  position: relative;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.message10 {
  position: absolute;
  height: 97.56%;
  width: 22.81%;
  top: 2.44%;
  right: 50.88%;
  bottom: 0;
  left: 26.32%;
}
.vector-icon23 {
  position: relative;
  width: 20px;
  height: 19px;
  object-fit: cover;
}
.profile11 {
  position: absolute;
  height: 100%;
  width: 16.23%;
  top: 0;
  right: 83.77%;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.actions6 {
  position: absolute;
  height: 47.67%;
  width: 15.83%;
  top: 29.07%;
  right: 9.17%;
  bottom: 23.26%;
  left: 75%;
  text-align: center;
}
.search-form-child3 {
  position: absolute;
  height: 105%;
  width: 100.3%;
  top: -2.5%;
  right: -0.15%;
  bottom: -2.5%;
  left: -0.15%;
  border-radius: var(--br-21xl);
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--primary);
  box-sizing: border-box;
}
.text161 {
  position: absolute;
  width: calc(100% - 15px);
  top: 11px;
  left: 10px;
  display: inline-block;
}
.iconcontrolexpand-more18 {
  position: absolute;
  top: calc(50% - 12px);
  right: 7px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.forminput-groupinput-midle5 {
  position: absolute;
  height: 100%;
  width: 21.8%;
  top: 0;
  right: 15.04%;
  bottom: 0;
  left: 63.16%;
  border-radius: var(--br-21xl);
}
.icon09 {
  position: absolute;
  top: calc(50% - 12px);
  right: 7px;
  width: 24px;
  height: 24px;
  object-fit: cover;
  display: none;
}
.forminput-groupinput-left6 {
  position: absolute;
  height: 100%;
  width: 63.31%;
  top: 0;
  right: 36.69%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  color: var(--gray-500);
}
.buttonbasetext-md31 {
  position: absolute;
  width: calc(100% - 20px);
  top: calc(50% - 9px);
  right: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.buttonbtn-group12 {
  position: absolute;
  height: 100%;
  width: 15.04%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84.96%;
  border-radius: var(--br-21xl);
  text-align: center;
  color: var(--base-color-white);
}
.search-form5 {
  position: absolute;
  height: 46.51%;
  width: 46.18%;
  top: 25.58%;
  right: 31.18%;
  bottom: 27.91%;
  left: 22.64%;
  display: none;
  cursor: pointer;
  font-size: var(--text-base-size);
  color: var(--base-color-dark);
}
.brandlogo-colored-icon11 {
  position: absolute;
  height: 53.49%;
  width: 10.42%;
  top: 23.26%;
  right: 80.56%;
  bottom: 23.26%;
  left: 9.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ecw15 {
  position: absolute;
  height: 56.98%;
  width: 8.26%;
  top: 19.77%;
  left: 11.6%;
  font-size: var(--font-size-29xl);
  display: inline-block;
  font-weight: 700;
  color: var(--color-turquoise);
}
.group-child46 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-burlywood);
}
.logo-icon27 {
  position: absolute;
  height: 52.63%;
  width: 64.76%;
  top: 23.68%;
  right: 18.1%;
  bottom: 23.68%;
  left: 17.14%;
  border-radius: var(--br-31xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ellipse-parent19,
.ellipse-parent20 {
  position: absolute;
  height: 88.37%;
  width: 7.29%;
  top: 5.81%;
  right: 91.25%;
  bottom: 5.81%;
  left: 1.46%;
}
.ellipse-parent20 {
  cursor: pointer;
}
.layoutheader-alibaba5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 86px;
  font-size: var(--font-size-xs);
  color: var(--gray-500);
}
.for-users6 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22px;
  font-weight: 500;
  color: var(--base-color-dark);
}
.login9,
.my-orders6,
.register6,
.settings6 {
  position: absolute;
  top: 23.36%;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.my-orders6,
.register6,
.settings6 {
  top: 43.07%;
}
.my-orders6,
.settings6 {
  top: 62.77%;
}
.my-orders6 {
  top: 82.48%;
}
.col30 {
  position: absolute;
  height: 42.28%;
  width: 5.42%;
  top: 12.35%;
  right: 27.64%;
  bottom: 45.37%;
  left: 66.94%;
}
.brandlogo-colored-icon12 {
  position: absolute;
  height: 47.92%;
  width: 54.35%;
  top: -63.54%;
  right: 45.65%;
  bottom: 115.63%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.best-information-about6 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
}
.icon-contactsocialfacebook36 {
  position: absolute;
  height: 100%;
  width: 16%;
  top: 0;
  right: 84%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.icon-contactsocialinstagram36,
.icon-contactsociallinkedin36,
.icon-contactsocialtwitter36,
.icon-contactsocialyoutube36 {
  position: absolute;
  height: 100%;
  width: 16%;
  top: 0;
  right: 63%;
  bottom: 0;
  left: 21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.icon-contactsocialinstagram36,
.icon-contactsociallinkedin36,
.icon-contactsocialyoutube36 {
  right: 42%;
  left: 42%;
}
.icon-contactsocialinstagram36,
.icon-contactsocialyoutube36 {
  right: 21%;
  left: 63%;
}
.icon-contactsocialyoutube36 {
  right: 0;
  left: 84%;
}
.icon-contactsocialfacebook3-parent4 {
  position: absolute;
  height: 33.33%;
  width: 72.46%;
  top: 66.67%;
  right: 27.54%;
  bottom: 0;
  left: 0;
}
.brandlogo-colored-parent4 {
  position: absolute;
  height: 29.63%;
  width: 19.17%;
  top: 31.17%;
  right: 71.88%;
  bottom: 39.2%;
  left: 8.96%;
  color: var(--gray-600);
}
.group-child48 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--gray-200);
  border-top: 1px solid var(--gray-300);
  box-sizing: border-box;
}
.imageflagsicon20 {
  position: absolute;
  height: 70.83%;
  width: 22.43%;
  top: 12.5%;
  right: 77.57%;
  bottom: 16.67%;
  left: 0;
}
.english6 {
  position: absolute;
  top: 0;
  left: 28.04%;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.iconcontrolexpand-less18,
.imageflagsicon-parent4 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.iconcontrolexpand-less18 {
  width: 22.43%;
  left: 77.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imageflagsicon-parent4 {
  width: 9.1%;
  left: 90.9%;
}
.ecommerce6 {
  position: absolute;
  width: 27.21%;
  top: 0;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
  text-align: left;
  display: inline-block;
}
.payment-method-language6 {
  position: absolute;
  height: 35.29%;
  width: 81.67%;
  top: 33.82%;
  right: 9.44%;
  bottom: 30.88%;
  left: 8.89%;
}
.background12,
.rectangle-parent16 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.rectangle-parent16 {
  height: 20.99%;
  top: 79.01%;
  text-align: right;
  color: var(--base-color-gray-800);
}
.background12 {
  height: 100%;
  top: 0;
  border-radius: var(--br-7xs);
  background-color: var(--base-color-dark);
}
.subtract-icon6 {
  position: absolute;
  height: 60.24%;
  width: 82.18%;
  top: 20.71%;
  right: 9.03%;
  bottom: 19.05%;
  left: 8.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group12,
.logo-icon29,
.miscmarket-button12 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.logo-icon29,
.miscmarket-button12 {
  height: 32.56%;
  top: 28.68%;
  bottom: 38.76%;
}
.logo-icon29 {
  height: 58.57%;
  width: 82.74%;
  top: 20.71%;
  right: 8.47%;
  bottom: 20.71%;
  left: 8.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.miscmarket-button13 {
  position: absolute;
  height: 32.56%;
  width: 100%;
  top: 67.44%;
  right: 0;
  bottom: 0;
  left: 0;
}
.get-app6 {
  position: absolute;
  top: 0;
  left: 0.81%;
  line-height: 22px;
  font-weight: 500;
}
.col31 {
  position: absolute;
  height: 39.81%;
  width: 8.61%;
  top: 12.35%;
  right: 12.99%;
  bottom: 47.84%;
  left: 78.4%;
  color: var(--base-color-dark);
}
.col32,
.col33 {
  height: 42.28%;
  top: 12.35%;
  bottom: 45.37%;
}
.col32 {
  position: absolute;
  width: 7.5%;
  right: 39.38%;
  left: 53.13%;
}
.col33 {
  width: 6.25%;
  right: 51.32%;
  left: 42.43%;
}
.col33,
.col34,
.ecw16 {
  position: absolute;
}
.col34 {
  height: 42.28%;
  width: 5.63%;
  top: 12.35%;
  right: 62.01%;
  bottom: 45.37%;
  left: 32.36%;
}
.ecw16 {
  height: 15.12%;
  width: 8.26%;
  top: 11.42%;
  left: 14.86%;
  font-size: var(--font-size-29xl);
  display: inline-block;
  font-weight: 700;
  color: var(--color-turquoise);
}
.logo-icon30 {
  position: absolute;
  height: 52.58%;
  width: 64.79%;
  top: 23.71%;
  right: 18.03%;
  bottom: 23.71%;
  left: 17.18%;
  border-radius: var(--br-31xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ellipse-parent21 {
  position: absolute;
  height: 19.14%;
  width: 4.93%;
  top: 10.49%;
  right: 86.18%;
  bottom: 70.37%;
  left: 8.89%;
}
.layoutfooter-alibaba6 {
  position: absolute;
  top: 1483px;
  left: 0;
  background-color: var(--base-color-white);
  width: 1440px;
  height: 324px;
  color: var(--gray-500);
}
.bg12,
.img-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
}
.bg12 {
  background-color: var(--base-color-white);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 1180px;
  height: 475px;
}
.img-child2 {
  background-color: var(--color-whitesmoke-200);
  width: 270px;
  height: 240px;
}
.image-32-icon4,
.imagetech24 {
  position: absolute;
  overflow: hidden;
}
.image-32-icon4 {
  height: 86.22%;
  width: 86.22%;
  top: 6.67%;
  right: 7.11%;
  bottom: 7.11%;
  left: 6.67%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.imagetech24 {
  top: 8px;
  left: 22px;
  background-color: var(--base-color-white);
  width: 225px;
  height: 225px;
  mix-blend-mode: multiply;
}
.img4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 240px;
}
.buttonbasetext-md32 {
  position: absolute;
  width: calc(100% - 59.6px);
  top: calc(50% - 9px);
  right: 16.1px;
  left: 43.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonbtn-basic33 {
  position: absolute;
  height: 10.47%;
  width: 58%;
  top: 89.53%;
  right: 42%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--base-color-white);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  cursor: pointer;
}
.div28,
.title35 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.title35 {
  width: 79.93%;
  top: 73.82%;
  letter-spacing: -0.2px;
  line-height: 24px;
  color: var(--base-color-gray-800);
}
.div28 {
  width: 23.41%;
  top: 65.45%;
  font-size: var(--title-h5-size);
  font-weight: 600;
  color: var(--base-color-dark);
}
.image-34-icon5,
.item25 {
  position: absolute;
  top: 70px;
  left: 20px;
  width: 270px;
  height: 382px;
}
.image-34-icon5 {
  height: 71.11%;
  width: 90.22%;
  top: 14.67%;
  right: 4.89%;
  bottom: 14.22%;
  left: 4.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imagetech75 {
  position: absolute;
  top: 8px;
  left: 22px;
  background-color: var(--base-color-white);
  width: 225px;
  height: 225px;
  mix-blend-mode: multiply;
}
.image-35-icon17,
.item26 {
  position: absolute;
  top: 70px;
  left: 890px;
  width: 270px;
  height: 382px;
}
.image-35-icon17 {
  height: 86.67%;
  width: 72.44%;
  top: 6.67%;
  right: 13.78%;
  bottom: 6.67%;
  left: 13.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-22-icon1,
.item27 {
  position: absolute;
  top: 70px;
  left: 600px;
  width: 270px;
  height: 382px;
}
.image-22-icon1 {
  height: 88%;
  width: 92.89%;
  top: 7.11%;
  right: 3.56%;
  bottom: 4.89%;
  left: 3.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.item28 {
  position: absolute;
  top: 70px;
  left: 310px;
  width: 270px;
  height: 382px;
}
.saved-for-later1 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: var(--title-h4-size);
  letter-spacing: -0.2px;
  line-height: 28px;
  font-weight: 600;
  color: var(--base-color-dark);
}
.bg-group {
  position: absolute;
  top: 827px;
  left: 130px;
  width: 1180px;
  height: 475px;
  color: var(--primary);
}
.banner-child1,
.banner-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
}
.banner-inner {
  border-radius: var(--br-5xs);
  background-color: var(--color-royalblue-200);
  width: 1180px;
}
.banner-child1 {
  width: 745px;
  object-fit: cover;
}
.buttonbtn-basic37 {
  position: absolute;
  top: 39px;
  left: 1027px;
  border-radius: var(--br-7xs);
  background-color: var(--orange);
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  text-align: center;
}
.description16,
.name14 {
  position: absolute;
  left: 30px;
}
.description16 {
  top: 63px;
  opacity: 0.7;
}
.name14 {
  top: 28px;
  font-size: var(--title-h3-size);
  letter-spacing: -0.2px;
  line-height: 32px;
  font-weight: 600;
  display: inline-block;
  width: 455px;
}
.banner2 {
  position: absolute;
  top: 1322px;
  left: 130px;
  width: 1180px;
  height: 120px;
  color: var(--base-color-white);
}
.description17,
.my-cart-3,
.name15 {
  position: absolute;
  letter-spacing: -0.2px;
}
.my-cart-3 {
  top: 113px;
  left: 130px;
  font-size: var(--title-h3-size);
  line-height: 32px;
  font-weight: 600;
  color: var(--base-color-dark);
}
.description17,
.name15 {
  top: 22px;
  left: 0;
  line-height: 24px;
}
.name15 {
  top: 0;
  color: var(--base-color-dark);
  display: inline-block;
  width: 184px;
}
.description-container {
  position: absolute;
  top: 1px;
  left: 58px;
  width: 184px;
  height: 46px;
}
.group-parent15,
.icon25 {
  position: absolute;
  height: 67.4px;
}
.icon25 {
  top: 0;
  left: 0;
  width: 48px;
  object-fit: cover;
}
.group-parent15 {
  top: 749px;
  left: 130px;
  width: 242px;
}
.description18,
.name16 {
  position: absolute;
  top: 22px;
  left: 58px;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.name16 {
  top: 0;
  color: var(--base-color-dark);
  display: inline-block;
  width: 188px;
}
.icon26,
.item-feature2 {
  position: absolute;
  height: 68.4px;
}
.icon26 {
  top: 0;
  left: 0;
  width: 48px;
  object-fit: cover;
}
.item-feature2 {
  top: 749px;
  left: 426px;
  width: 246px;
}
.name17 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
  color: var(--base-color-dark);
  display: inline-block;
  width: 175px;
}
.description-parent1,
.icon27 {
  position: absolute;
  top: 0;
  left: 66px;
  width: 184px;
  height: 46px;
}
.icon27 {
  left: 0;
  width: 56px;
  height: 65.3px;
  object-fit: cover;
}
.bg-icon46,
.item-feature3 {
  position: absolute;
  top: 749px;
  left: 718px;
  width: 250px;
  height: 65.3px;
}
.bg-icon46 {
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  width: 280px;
  height: 110px;
  object-fit: cover;
}
.buttonbtn-group13,
.forminput-groupinput-left7 {
  position: absolute;
  top: 0;
  left: 162px;
  width: 85px;
  height: 40px;
}
.forminput-groupinput-left7 {
  left: 0;
  width: 164px;
  text-align: left;
  color: var(--gray-500);
}
.input1 {
  position: absolute;
  top: 48px;
  left: 17px;
  width: 247px;
  height: 40px;
}
.block-coupon1,
.title39 {
  position: absolute;
  top: 20px;
  left: 16px;
  color: var(--gray-600);
  text-align: left;
}
.block-coupon1 {
  top: 168px;
  left: 1030px;
  width: 280px;
  height: 110px;
  text-align: center;
  color: var(--primary);
}
.header-child3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
}
.about6,
.contact5,
.home8,
.shop6 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.about6,
.contact5,
.shop6 {
  left: 27.31%;
}
.about6,
.contact5 {
  left: 53.28%;
}
.contact5 {
  left: 80.79%;
}
.akar-iconsheart5,
.akar-iconssearch6,
.ant-designshopping-cart-outli-icon5,
.mdiaccount-alert-outline-icon5 {
  position: absolute;
  height: 100%;
  width: 11.36%;
  top: 0;
  right: 88.64%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.akar-iconsheart5,
.akar-iconssearch6,
.ant-designshopping-cart-outli-icon5 {
  width: 11.31%;
  right: 59.11%;
  left: 29.58%;
}
.akar-iconsheart5,
.ant-designshopping-cart-outli-icon5 {
  width: 11.36%;
  right: 29.53%;
  left: 59.11%;
}
.ant-designshopping-cart-outli-icon5 {
  width: 11.31%;
  right: 0;
  left: 88.69%;
}
.meubel-house-logos-05-icon5 {
  position: relative;
  width: 50px;
  height: 32px;
  object-fit: cover;
}
.skinclinic5 {
  position: relative;
  display: none;
}
.meubel-house-logos-05-parent2 {
  position: absolute;
  height: 146.47%;
  width: 74.93%;
  top: -24.9%;
  right: 445.78%;
  bottom: -21.58%;
  left: -420.71%;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.mdiaccount-alert-outline-parent3 {
  position: absolute;
  height: 100.42%;
  width: 54.82%;
  top: -7.08%;
  right: -85.33%;
  bottom: 6.67%;
  left: 130.51%;
  display: none;
  font-size: var(--font-size-15xl);
  font-family: var(--font-montserrat);
}
.group-parent16 {
  height: 27.91%;
  width: 31.28%;
  top: 38.02%;
  right: 33.64%;
  bottom: 34.07%;
  left: 35.07%;
}
.div32,
.group-parent16,
.header5 {
  position: absolute;
}
.header5 {
  top: 0;
  left: 153px;
  width: 1098px;
  height: 86px;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.div32 {
  top: 25px;
  left: 1293px;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-100);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.cart6 {
  position: relative;
  background-color: var(--gray-100);
  width: 100%;
  height: 1884px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-base-size);
  color: var(--base-color-gray-400);
  font-family: var(--text-base);
}
