.reset-password {
  position: absolute;
  top: 131px;
  left: 49px;
  font-size: var(--font-size-29xl);
  font-weight: 600;
  font-family: var(--font-poppins);
}
.forget-password-child,
.forget-password-item {
  position: absolute;
  top: 471px;
  left: 124px;
  border-radius: var(--br-xl);
  background-color: var(--base-color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 564px;
  height: 90px;
}
.forget-password-item {
  top: 252px;
  left: 406px;
}
.emailphone-number {
  position: absolute;
  top: 277px;
  left: 424px;
  color: var(--color-silver-100);
}
.forget-password-inner {
  position: absolute;
  top: 471px;
  left: 784px;
  border-radius: var(--br-xl);
  background-color: var(--primary1);
  box-shadow: 0 10px 4px rgba(249, 150, 2, 0.2);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 564px;
  height: 90px;
  cursor: pointer;
}
.confirm {
  position: absolute;
  top: 484px;
  left: 999px;
  line-height: 65px;
  font-family: var(--font-poppins);
  color: var(--base-color-white);
}
.cancel {
  position: absolute;
  top: 497px;
  left: 354px;
  font-weight: 600;
  color: var(--color-gray-400);
}
.group-child35 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-burlywood);
}
.logo-icon20 {
  position: absolute;
  height: 52.66%;
  width: 64.81%;
  top: 23.67%;
  right: 18.02%;
  bottom: 23.67%;
  left: 17.16%;
  border-radius: var(--br-31xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ellipse-parent13 {
  position: absolute;
  height: 8.87%;
  width: 7.29%;
  top: 2.21%;
  right: 89.38%;
  bottom: 88.92%;
  left: 3.33%;
}
.ecw10 {
  position: absolute;
  height: 3.38%;
  width: 8.27%;
  top: 2.83%;
  left: 11.73%;
  font-size: var(--font-size-29xl);
  display: inline-block;
  font-weight: 700;
  color: var(--color-turquoise);
}
.forget-password-child1 {
  position: absolute;
  top: -48px;
  left: 1031px;
  border-radius: 50%;
  background-color: var(--color-lightgoldenrodyellow-100);
  width: 506px;
  height: 178px;
}
.back-icon {
  position: absolute;
  top: 64px;
  left: 0;
  width: 83px;
  height: 84px;
  object-fit: cover;
  cursor: pointer;
}
.forget-password {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--base-color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 743px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--title-h2-size);
  color: var(--color-black);
  font-family: var(--text-base);
}
