.bg-icon50,
.buttonbtn-basic-icon12 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.buttonbtn-basic-icon12 {
  height: 17.39%;
  width: 4.35%;
  top: 8.7%;
  right: 2.17%;
  bottom: 73.91%;
  left: 93.48%;
}
.the-largest-apple18 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
}
.link147 {
  position: absolute;
  top: 74.67%;
  left: 0;
  font-weight: 500;
  color: var(--primary);
}
.description22,
.title47 {
  position: absolute;
  left: 24.89%;
}
.description22 {
  height: 32.61%;
  width: 65.98%;
  top: 53.91%;
  right: 9.13%;
  bottom: 13.48%;
  color: var(--gray-600);
}
.title47 {
  width: 42.93%;
  top: 10%;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.text197,
.text198 {
  position: absolute;
  font-weight: 600;
}
.text197 {
  top: 0;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 28px;
}
.text198 {
  top: 17.86%;
  left: 59.21%;
  font-size: var(--text-base-size);
  text-decoration: line-through;
  color: var(--gray-500);
}
.price16 {
  position: absolute;
  height: 12.17%;
  width: 16.52%;
  top: 26.52%;
  right: 58.59%;
  bottom: 61.3%;
  left: 24.89%;
  font-size: var(--title-h4-size);
}
.image-33-icon3,
.imagetech13 {
  position: absolute;
  overflow: hidden;
}
.image-33-icon3 {
  height: 88%;
  width: 88%;
  top: 5.76%;
  right: 5.76%;
  bottom: 6.24%;
  left: 6.24%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.imagetech13 {
  height: 91.3%;
  width: 22.83%;
  top: 3.91%;
  right: 76.41%;
  bottom: 4.78%;
  left: 0.76%;
  background-color: var(--base-color-white);
  display: none;
}
.dot30,
.free-shipping15 {
  position: absolute;
  top: 0;
  left: 69.77%;
}
.dot30 {
  height: 31.58%;
  width: 1.74%;
  top: 31.58%;
  right: 32.85%;
  bottom: 36.84%;
  left: 65.41%;
  border-radius: 50%;
  background-color: var(--gray-300);
}
.miscrating-icon22 {
  position: absolute;
  height: 78.95%;
  width: 23.26%;
  top: 5.26%;
  right: 76.74%;
  bottom: 15.79%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bell-ross48,
.bell-ross49 {
  position: absolute;
  top: 0;
  left: 25%;
  color: var(--orange);
}
.bell-ross49 {
  left: 39.24%;
  color: var(--gray-500);
}
.dot31 {
  position: absolute;
  height: 31.58%;
  width: 1.74%;
  top: 31.58%;
  right: 63.37%;
  bottom: 36.84%;
  left: 34.88%;
  border-radius: 50%;
  background-color: var(--gray-300);
}
.free-shipping-parent10 {
  position: absolute;
  height: 8.26%;
  width: 37.39%;
  top: 40.43%;
  right: 37.72%;
  bottom: 51.3%;
  left: 24.89%;
  color: var(--green);
}
.image-114-icon,
.layout-2product-card-0812 {
  position: absolute;
  top: 0;
  left: 0;
  width: 920px;
  height: 230px;
}
.image-114-icon {
  top: 1px;
  left: 8px;
  width: 203px;
  height: 228px;
  object-fit: cover;
}
.the-largest-apple19 {
  position: absolute;
  width: 645.74%;
  top: -294.74%;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: none;
}
.link148 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  color: var(--primary);
}
.description23 {
  position: absolute;
  height: 8.26%;
  width: 10.22%;
  top: 78.26%;
  right: 64.89%;
  bottom: 13.48%;
  left: 24.89%;
  color: var(--gray-600);
}
.text200 {
  position: absolute;
  top: 17.86%;
  left: 109.76%;
  font-size: var(--text-base-size);
  text-decoration: line-through;
  font-weight: 600;
  color: var(--gray-500);
  display: none;
}
.price17 {
  position: absolute;
  height: 12.17%;
  width: 8.91%;
  top: 26.52%;
  right: 66.2%;
  bottom: 61.3%;
  left: 24.89%;
  font-size: var(--title-h4-size);
}
.image-23-icon3 {
  position: absolute;
  height: 89.33%;
  width: 89.33%;
  top: 5.33%;
  right: 5.33%;
  bottom: 5.33%;
  left: 5.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-115-icon,
.layout-2product-card-0813 {
  position: absolute;
  top: 245px;
  left: 6px;
  width: 920px;
  height: 230px;
}
.image-115-icon {
  top: 248px;
  left: 8px;
  width: 227px;
  height: 227px;
  object-fit: cover;
}
.text202 {
  position: absolute;
  top: 17.86%;
  left: 113.92%;
  font-size: var(--text-base-size);
  text-decoration: line-through;
  font-weight: 600;
  color: var(--gray-500);
  display: none;
}
.price18 {
  position: absolute;
  height: 12.17%;
  width: 8.59%;
  top: 26.52%;
  right: 66.52%;
  bottom: 61.3%;
  left: 24.89%;
  font-size: var(--title-h4-size);
}
.image-32-icon5 {
  position: absolute;
  height: 86.24%;
  width: 86.24%;
  top: 6.67%;
  right: 7.1%;
  bottom: 7.1%;
  left: 6.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.layout-2product-card-0814 {
  position: absolute;
  top: 482px;
  left: 6px;
  width: 920px;
  height: 230px;
}
.image-116-icon,
.image-34-icon6 {
  position: absolute;
  top: 485px;
  left: 8px;
  width: 224px;
  height: 223px;
  object-fit: cover;
}
.image-34-icon6 {
  height: 71.1%;
  width: 90.24%;
  top: 14.67%;
  right: 4.86%;
  bottom: 14.24%;
  left: 4.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.imagetech76 {
  position: absolute;
  height: 91.3%;
  width: 22.83%;
  top: 3.91%;
  right: 76.41%;
  bottom: 4.78%;
  left: 0.76%;
  background-color: var(--base-color-white);
  display: none;
}
.image-117-icon,
.image-35-icon22,
.layout-2product-card-0815 {
  position: absolute;
  top: 725px;
  left: 6px;
  width: 920px;
  height: 230px;
}
.image-117-icon,
.image-35-icon22 {
  left: 8px;
  width: 224px;
  object-fit: cover;
}
.image-35-icon22 {
  height: 86.67%;
  width: 72.43%;
  top: 6.67%;
  right: 13.81%;
  bottom: 6.67%;
  left: 13.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image-118-icon,
.layout-2product-card-0816 {
  position: absolute;
  top: 955px;
  left: 3px;
  width: 920px;
  height: 230px;
}
.image-118-icon {
  top: 967px;
  left: 8px;
  width: 225px;
  height: 225px;
  object-fit: cover;
}
.text208 {
  position: absolute;
  top: 17.86%;
  left: 108.43%;
  font-size: var(--text-base-size);
  text-decoration: line-through;
  font-weight: 600;
  color: var(--gray-500);
  display: none;
}
.price21 {
  position: absolute;
  height: 12.17%;
  width: 9.02%;
  top: 26.52%;
  right: 66.09%;
  bottom: 61.3%;
  left: 24.89%;
  font-size: var(--title-h4-size);
}
.image-86-icon5 {
  position: absolute;
  height: 96.9%;
  width: 96.9%;
  top: 1.76%;
  right: 1.33%;
  bottom: 1.33%;
  left: 1.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-119-icon,
.layout-2product-card-0817 {
  position: absolute;
  top: 1205px;
  left: 6px;
  width: 920px;
  height: 230px;
}
.image-119-icon {
  top: 1213px;
  left: 8px;
  width: 224px;
  height: 217px;
  object-fit: cover;
}
.content2 {
  top: 284px;
  left: 384px;
  width: 926px;
  height: 1435px;
}
.bg15,
.content2,
.text209 {
  position: absolute;
}
.bg15 {
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--base-color-white);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 920px;
  height: 62px;
}
.text209 {
  top: 11px;
  left: 10px;
}
.iconcontrolexpand-more20 {
  position: absolute;
  top: calc(50% - 12px);
  right: 8px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.formselectbox-done4 {
  position: absolute;
  top: 11px;
  left: 652px;
  width: 172px;
  height: 40px;
}
.rectangle30,
.text210 {
  position: absolute;
  top: 22px;
  left: 19px;
}
.rectangle30 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--primary);
  width: 20px;
  height: 20px;
}
.path-icon2 {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 13px;
  height: 9px;
  object-fit: cover;
}
.check2 {
  position: absolute;
  top: 2px;
  left: 1px;
  width: 20px;
  height: 20px;
}
.form-selection-checkbox-of38 {
  position: relative;
  width: 34px;
  height: 24px;
}
.hint-text30 {
  position: relative;
}
.formchecklabel38 {
  position: absolute;
  top: 14px;
  left: 507px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-base) var(--padding-7xs) 0;
}
.btn-group-icon2 {
  position: absolute;
  top: 11px;
  left: 834px;
  width: 76px;
  height: 40px;
  object-fit: cover;
}
.bg-icon56,
.content-top2 {
  position: absolute;
  top: 207px;
  left: 390px;
  width: 920px;
  height: 62px;
}
.bg-icon56 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.border3,
.layoutnavbar-alibaba-item {
  position: absolute;
  height: 1.79%;
  width: 100.07%;
  top: 99.11%;
  right: -0.03%;
  bottom: -0.89%;
  left: -0.03%;
  border-top: 1px solid var(--base-color-gray-200);
  box-sizing: border-box;
}
.border3 {
  top: -0.89%;
  bottom: 99.11%;
}
.de2x-icon3,
.fitness2 {
  position: absolute;
  left: 0;
}
.fitness2 {
  top: 8.33%;
  line-height: 22px;
  font-weight: 500;
}
.de2x-icon3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.imageflagsicon24 {
  position: absolute;
  height: 66.67%;
  width: 19.13%;
  top: 20.83%;
  right: 28.7%;
  bottom: 12.5%;
  left: 52.17%;
}
.iconcontrolexpand-more21 {
  position: absolute;
  height: 100%;
  width: 20.87%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 79.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ship-to1 {
  position: absolute;
  height: 42.86%;
  width: 7.99%;
  top: 28.57%;
  right: 8.89%;
  bottom: 28.57%;
  left: 83.13%;
}
.iconcontrolexpand-more22 {
  position: absolute;
  height: 100%;
  width: 19.35%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 80.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.payment1 {
  position: absolute;
  height: 42.86%;
  width: 8.61%;
  top: 28.57%;
  right: 19.1%;
  bottom: 28.57%;
  left: 72.29%;
}
.iconcontrolexpand-more23 {
  position: absolute;
  height: 100%;
  width: 39.34%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 60.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.nav6 {
  position: absolute;
  top: 4.17%;
  left: 0;
  line-height: 22px;
  font-weight: 500;
}
.dropdown1 {
  position: absolute;
  height: 100%;
  width: 9.84%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 90.16%;
}
.nav10,
.nav11,
.nav7,
.nav8,
.nav9 {
  position: absolute;
  top: 4.17%;
  left: 72.58%;
  line-height: 22px;
  font-weight: 500;
}
.nav10,
.nav11,
.nav8,
.nav9 {
  left: 57.9%;
}
.nav10,
.nav11,
.nav9 {
  left: 40.65%;
}
.nav10,
.nav11 {
  left: 23.71%;
}
.nav11 {
  left: 4.84%;
}
.iconcontrolmenu1 {
  position: absolute;
  height: 100%;
  width: 3.87%;
  top: 0;
  right: 96.13%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.nav-list1 {
  position: absolute;
  height: 42.86%;
  width: 43.06%;
  top: 28.57%;
  right: 47.92%;
  bottom: 28.57%;
  left: 9.03%;
}
.layoutnavbar-alibaba1 {
  position: absolute;
  top: 86px;
  left: 0;
  width: 1440px;
  height: 56px;
}
.layoutheader-alibaba-child5 {
  position: absolute;
  height: 47.67%;
  width: 5.14%;
  top: 24.42%;
  right: 89.79%;
  bottom: 27.91%;
  left: 5.07%;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
}
.vector-icon29 {
  position: relative;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.cart10,
.my-cart7 {
  position: absolute;
  top: 63.41%;
  left: 0;
}
.cart10 {
  height: 100%;
  width: 19.3%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 80.7%;
  cursor: pointer;
}
.vector-icon30 {
  position: absolute;
  height: 44%;
  width: 51.28%;
  top: 0;
  right: 23.08%;
  bottom: 56%;
  left: 25.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.orders14,
.orders15 {
  position: absolute;
  top: 62.5%;
  left: 0;
}
.orders14 {
  height: 97.56%;
  width: 17.11%;
  top: 2.44%;
  right: 27.19%;
  bottom: 0;
  left: 55.7%;
}
.vector-icon31 {
  position: relative;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.message15 {
  position: absolute;
  height: 97.56%;
  width: 22.81%;
  top: 2.44%;
  right: 50.88%;
  bottom: 0;
  left: 26.32%;
}
.vector-icon32 {
  position: relative;
  width: 20px;
  height: 19px;
  object-fit: cover;
}
.profile15 {
  position: absolute;
  height: 100%;
  width: 16.23%;
  top: 0;
  right: 83.77%;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.actions10 {
  position: absolute;
  height: 47.67%;
  width: 15.83%;
  top: 29.07%;
  right: 9.17%;
  bottom: 23.26%;
  left: 75%;
  text-align: center;
}
.search-form-child5 {
  position: absolute;
  height: 105%;
  width: 100.3%;
  top: -2.5%;
  right: -0.15%;
  bottom: -2.5%;
  left: -0.15%;
  border-radius: var(--br-21xl);
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--primary);
  box-sizing: border-box;
}
.text211 {
  position: absolute;
  width: calc(100% - 15px);
  top: 11px;
  left: 10px;
  display: inline-block;
}
.iconcontrolexpand-more24 {
  position: absolute;
  top: calc(50% - 12px);
  right: 7px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.forminput-groupinput-midle7 {
  position: absolute;
  height: 100%;
  width: 21.8%;
  top: 0;
  right: 15.04%;
  bottom: 0;
  left: 63.16%;
  border-radius: var(--br-21xl);
}
.icon012 {
  position: absolute;
  top: calc(50% - 12px);
  right: 7px;
  width: 24px;
  height: 24px;
  object-fit: cover;
  display: none;
}
.forminput-groupinput-left9 {
  position: absolute;
  height: 100%;
  width: 63.31%;
  top: 0;
  right: 36.69%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  color: var(--gray-500);
}
.text213 {
  position: relative;
  font-weight: 500;
}
.buttonbasetext-md42 {
  position: absolute;
  width: calc(100% - 20px);
  top: calc(50% - 9px);
  right: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.buttonbtn-group15 {
  position: absolute;
  height: 100%;
  width: 15.04%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84.96%;
  border-radius: var(--br-21xl);
  text-align: center;
  color: var(--base-color-white);
}
.search-form7 {
  position: absolute;
  height: 46.51%;
  width: 46.18%;
  top: 25.58%;
  right: 31.18%;
  bottom: 27.91%;
  left: 22.64%;
  cursor: pointer;
  font-size: var(--text-base-size);
  color: var(--base-color-dark);
}
.brandlogo-colored-icon16 {
  position: absolute;
  height: 53.49%;
  width: 10.42%;
  top: 23.26%;
  right: 80.56%;
  bottom: 23.26%;
  left: 9.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ecw21 {
  position: absolute;
  height: 56.98%;
  width: 8.26%;
  top: 19.77%;
  left: 11.6%;
  font-size: var(--font-size-29xl);
  display: inline-block;
  font-weight: 700;
  color: var(--color-turquoise);
}
.group-child71 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-burlywood);
}
.logo-icon39 {
  position: absolute;
  height: 52.63%;
  width: 64.76%;
  top: 23.68%;
  right: 18.1%;
  bottom: 23.68%;
  left: 17.14%;
  border-radius: var(--br-31xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ellipse-parent28,
.ellipse-parent29 {
  position: absolute;
  height: 88.37%;
  width: 7.29%;
  top: 5.81%;
  right: 91.25%;
  bottom: 5.81%;
  left: 1.46%;
}
.ellipse-parent29 {
  cursor: pointer;
}
.layoutheader-alibaba7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 86px;
  font-size: var(--font-size-xs);
  color: var(--gray-500);
}
.formselectbox-done5 {
  position: absolute;
  top: 1749px;
  left: 959px;
  width: 125px;
  height: 40px;
}
.buttonbtn-group-icon4,
.buttonbtn-group-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 40px;
  object-fit: cover;
}
.buttonbtn-group-icon5 {
  left: 173px;
}
.buttonbtn-group16,
.buttonbtn-group17 {
  position: absolute;
  top: 0;
  left: 87px;
  width: 44px;
  height: 40px;
}
.buttonbtn-group17 {
  left: 44px;
  color: var(--gray-500);
}
.buttonbtn-group-container,
.buttonbtn-group18 {
  position: absolute;
  top: 0;
  left: 130px;
  width: 44px;
  height: 40px;
}
.buttonbtn-group-container {
  top: 1749px;
  left: 1093px;
  width: 217px;
  text-align: center;
}
.bg16 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--gray-200);
}
.icon013,
.iconemail3 {
  position: absolute;
  top: calc(50% - 11px);
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.icon013 {
  right: 9px;
  display: none;
}
.iconemail3 {
  left: 8px;
}
.text218 {
  position: absolute;
  width: calc(100% - 104px);
  top: 11px;
  left: 36px;
  display: inline-block;
}
.formiconinput3 {
  position: absolute;
  height: 100%;
  width: 69.9%;
  top: 0;
  right: 30.1%;
  bottom: 0;
  left: 0;
}
.buttonbasetext-md46 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonbtn-basic41 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% + 86px);
  border-radius: var(--br-7xs);
  background: linear-gradient(180deg, #127fff, #0067ff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  text-align: center;
  color: var(--base-color-white);
}
.form3 {
  position: absolute;
  height: 35.4%;
  width: 63.53%;
  top: 64.6%;
  right: 18.15%;
  bottom: 0;
  left: 18.31%;
}
.bell-ross60,
.subscribe-on-our3 {
  position: absolute;
  letter-spacing: -0.2px;
}
.bell-ross60 {
  width: 100%;
  top: 53.85%;
  left: 0;
  line-height: 24px;
  display: inline-block;
}
.subscribe-on-our3 {
  top: 0;
  left: 28.2%;
  font-size: var(--title-h4-size);
  line-height: 28px;
  font-weight: 600;
  color: var(--base-color-dark);
}
.text220 {
  position: absolute;
  height: 46.02%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 53.98%;
  left: 0;
  text-align: center;
  color: var(--base-color-gray-800);
}
.text-form3 {
  position: absolute;
  height: 59.47%;
  width: 42.85%;
  top: 20%;
  right: 28.54%;
  bottom: 20.53%;
  left: 28.61%;
}
.layoutnewsletter-alibaba3 {
  position: absolute;
  top: 1832px;
  left: 0;
  width: 1440px;
  height: 190px;
  color: var(--gray-500);
}
.for-users9 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22px;
  font-weight: 500;
  color: var(--base-color-dark);
}
.login12,
.my-orders9,
.register9,
.settings9 {
  position: absolute;
  top: 23.36%;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.my-orders9,
.register9,
.settings9 {
  top: 43.07%;
}
.my-orders9,
.settings9 {
  top: 62.77%;
}
.my-orders9 {
  top: 82.48%;
}
.col45 {
  position: absolute;
  height: 42.28%;
  width: 5.42%;
  top: 12.35%;
  right: 27.64%;
  bottom: 45.37%;
  left: 66.94%;
}
.brandlogo-colored-icon17 {
  position: absolute;
  height: 29.3%;
  width: 54.35%;
  top: 0;
  right: 45.65%;
  bottom: 70.7%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.best-information-about9 {
  position: absolute;
  width: 100%;
  top: 38.85%;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
}
.icon-contactsocialfacebook39 {
  position: absolute;
  height: 100%;
  width: 16%;
  top: 0;
  right: 84%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.icon-contactsocialinstagram39,
.icon-contactsociallinkedin39,
.icon-contactsocialtwitter39,
.icon-contactsocialyoutube39 {
  position: absolute;
  height: 100%;
  width: 16%;
  top: 0;
  right: 63%;
  bottom: 0;
  left: 21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.icon-contactsocialinstagram39,
.icon-contactsociallinkedin39,
.icon-contactsocialyoutube39 {
  right: 42%;
  left: 42%;
}
.icon-contactsocialinstagram39,
.icon-contactsocialyoutube39 {
  right: 21%;
  left: 63%;
}
.icon-contactsocialyoutube39 {
  right: 0;
  left: 84%;
}
.icon-contactsocialfacebook3-parent7 {
  position: absolute;
  height: 20.38%;
  width: 72.46%;
  top: 79.62%;
  right: 27.54%;
  bottom: 0;
  left: 0;
}
.brandlogo-colored-parent7 {
  position: absolute;
  height: 48.46%;
  width: 19.17%;
  top: 12.35%;
  right: 71.88%;
  bottom: 39.2%;
  left: 8.96%;
  color: var(--gray-600);
}
.group-child73 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--gray-200);
  border-top: 1px solid var(--gray-300);
  box-sizing: border-box;
}
.imageflagsicon25 {
  position: absolute;
  height: 70.83%;
  width: 22.43%;
  top: 12.5%;
  right: 77.57%;
  bottom: 16.67%;
  left: 0;
}
.english9 {
  position: absolute;
  top: 0;
  left: 28.04%;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.iconcontrolexpand-less21,
.imageflagsicon-parent7 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.iconcontrolexpand-less21 {
  width: 22.43%;
  left: 77.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imageflagsicon-parent7 {
  width: 9.1%;
  left: 90.9%;
}
.ecommerce9 {
  position: absolute;
  width: 27.21%;
  top: 0;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
  text-align: left;
  display: inline-block;
}
.payment-method-language9 {
  position: absolute;
  height: 35.29%;
  width: 81.67%;
  top: 33.82%;
  right: 9.44%;
  bottom: 30.88%;
  left: 8.89%;
}
.background18,
.rectangle-parent28 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.rectangle-parent28 {
  height: 20.99%;
  top: 79.01%;
  text-align: right;
  color: var(--base-color-gray-800);
}
.background18 {
  height: 100%;
  top: 0;
  border-radius: var(--br-7xs);
  background-color: var(--base-color-dark);
}
.subtract-icon9 {
  position: absolute;
  height: 60.24%;
  width: 82.18%;
  top: 20.71%;
  right: 9.03%;
  bottom: 19.05%;
  left: 8.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group18,
.logo-icon41,
.miscmarket-button18 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.logo-icon41,
.miscmarket-button18 {
  height: 32.56%;
  top: 28.68%;
  bottom: 38.76%;
}
.logo-icon41 {
  height: 58.57%;
  width: 82.74%;
  top: 20.71%;
  right: 8.47%;
  bottom: 20.71%;
  left: 8.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.miscmarket-button19 {
  position: absolute;
  height: 32.56%;
  width: 100%;
  top: 67.44%;
  right: 0;
  bottom: 0;
  left: 0;
}
.get-app9 {
  position: absolute;
  top: 0;
  left: 0.81%;
  line-height: 22px;
  font-weight: 500;
}
.col46 {
  position: absolute;
  height: 39.81%;
  width: 8.61%;
  top: 12.35%;
  right: 12.99%;
  bottom: 47.84%;
  left: 78.4%;
  color: var(--base-color-dark);
}
.col47,
.col48 {
  height: 42.28%;
  top: 12.35%;
  bottom: 45.37%;
}
.col47 {
  position: absolute;
  width: 7.5%;
  right: 39.38%;
  left: 53.13%;
}
.col48 {
  width: 6.25%;
  right: 51.32%;
  left: 42.43%;
}
.col48,
.col49,
.ecw22 {
  position: absolute;
}
.col49 {
  height: 42.28%;
  width: 5.63%;
  top: 12.35%;
  right: 62.01%;
  bottom: 45.37%;
  left: 32.36%;
}
.ecw22 {
  height: 15.12%;
  width: 8.26%;
  top: 11.42%;
  left: 14.86%;
  font-size: var(--font-size-29xl);
  display: inline-block;
  font-weight: 700;
  color: var(--color-turquoise);
}
.logo-icon42 {
  position: absolute;
  height: 52.58%;
  width: 64.79%;
  top: 23.71%;
  right: 18.03%;
  bottom: 23.71%;
  left: 17.18%;
  border-radius: var(--br-31xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ellipse-parent30 {
  position: absolute;
  height: 19.14%;
  width: 4.93%;
  top: 10.49%;
  right: 86.18%;
  bottom: 70.37%;
  left: 8.89%;
}
.layoutfooter-alibaba9 {
  position: absolute;
  top: 2012px;
  left: 0;
  background-color: var(--base-color-white);
  width: 1440px;
  height: 324px;
  color: var(--gray-500);
}
.text221 {
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  font-weight: 600;
}
.iconcontrolexpand-less22 {
  position: absolute;
  top: calc(50% - 12px);
  right: 0;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.layoutcollablse-heading12 {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 230px;
  height: 48px;
}
.form-selection-checkbox-of39 {
  position: relative;
  width: 34px;
  height: 24px;
  object-fit: cover;
}
.formchecklabel39,
.formchecklabel40,
.formchecklabel41,
.formchecklabel42 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-base) var(--padding-7xs) 0;
}
.formchecklabel40,
.formchecklabel41,
.formchecklabel42 {
  top: 72px;
}
.formchecklabel41,
.formchecklabel42 {
  top: 36px;
}
.formchecklabel42 {
  top: 108px;
}
.formchecklabel-parent2 {
  position: absolute;
  top: 48px;
  left: 0;
  width: 142px;
  height: 144px;
}
.layoutcollablse-heading-parent8,
.rectangle31 {
  position: absolute;
  top: 1044px;
  left: 3.7px;
  width: 230px;
  height: 192px;
}
.rectangle31 {
  top: 2px;
  left: 1px;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.miscrating-icon28 {
  position: relative;
  width: 93px;
  height: 18px;
  object-fit: cover;
}
.formchecklabel-parent3 {
  position: absolute;
  top: 48px;
  left: 0;
  width: 143px;
  height: 144px;
}
.layoutcollablse-heading-parent9 {
  position: absolute;
  top: 1256px;
  left: 3.7px;
  width: 230px;
  height: 192px;
}
.text224 {
  position: absolute;
  width: calc(100% - 11px);
  top: calc(50% - 9px);
  left: 0;
  display: inline-block;
}
.layoutnav-item14 {
  position: absolute;
  top: 180px;
  left: 0;
  width: 229px;
  height: 36px;
  color: var(--primary);
}
.hint-text35 {
  position: relative;
  display: none;
}
.formchecklabel47,
.formchecklabel48,
.formchecklabel49,
.formchecklabel50,
.formchecklabel51 {
  position: absolute;
  top: 0;
  left: 0;
  width: 114.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-base) var(--padding-7xs) 0;
  box-sizing: border-box;
}
.formchecklabel48,
.formchecklabel49,
.formchecklabel50,
.formchecklabel51 {
  top: 72px;
  width: 101.1px;
}
.formchecklabel49,
.formchecklabel50,
.formchecklabel51 {
  top: 36px;
  width: 89.7px;
}
.formchecklabel50,
.formchecklabel51 {
  top: 108px;
  width: 93.5px;
}
.formchecklabel51 {
  top: 144px;
  width: 101.1px;
}
.layoutnav-item-parent2 {
  position: absolute;
  top: 48px;
  left: 1px;
  width: 229px;
  height: 216px;
}
.layoutcollablse-heading-parent10 {
  position: absolute;
  top: 248px;
  left: 1.7px;
  width: 230px;
  height: 264px;
}
.layoutnav-item15 {
  position: absolute;
  top: 180px;
  left: 0;
  width: 228px;
  height: 36px;
  color: var(--primary);
}
.formchecklabel52,
.formchecklabel53,
.formchecklabel54,
.formchecklabel55,
.formchecklabel56 {
  position: absolute;
  top: 0;
  left: 0;
  width: 103.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-base) var(--padding-7xs) 0;
  box-sizing: border-box;
}
.formchecklabel53,
.formchecklabel54,
.formchecklabel55,
.formchecklabel56 {
  top: 72px;
  width: 114px;
}
.formchecklabel54,
.formchecklabel55,
.formchecklabel56 {
  top: 36px;
  width: 139.6px;
}
.formchecklabel55,
.formchecklabel56 {
  top: 108px;
  width: 138.7px;
}
.formchecklabel56 {
  top: 144px;
  width: 152px;
}
.layoutnav-item-parent3 {
  position: absolute;
  top: 48px;
  left: 0;
  width: 228px;
  height: 216px;
}
.layoutcollablse-heading-parent11 {
  position: absolute;
  top: 532px;
  left: 3.7px;
  width: 230px;
  height: 264px;
}
.formrange-icon2,
.layoutcollablse-heading16 {
  position: absolute;
  top: 0;
  left: 3.7px;
  width: 230px;
}
.layoutcollablse-heading16 {
  border-top: 1px solid var(--gray-300);
  box-sizing: border-box;
  height: 48px;
}
.formrange-icon2 {
  height: 20px;
  object-fit: cover;
}
.label4 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}
.formbaselabel-title4,
.forminput-basic6 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 24px;
}
.forminput-basic6 {
  top: 24px;
  height: 40px;
  color: var(--gray-400);
}
.formlabelinput4,
.formlabelinput5 {
  position: absolute;
  top: 40px;
  left: 3.7px;
  width: 111px;
  height: 64px;
}
.formlabelinput5 {
  left: 123.7px;
  width: 110px;
}
.buttonbasetext-md47 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonbtn-basic42 {
  position: absolute;
  height: 20.39%;
  width: 94.87%;
  top: 79.61%;
  right: 5.13%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--base-color-white);
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
  text-align: center;
  color: var(--primary);
}
.formrange-container,
.layoutcollablse-heading-parent12 {
  position: absolute;
  top: 56px;
  left: 0;
  width: 233.7px;
  height: 204.5px;
}
.layoutcollablse-heading-parent12 {
  top: 816px;
  height: 260.5px;
}
.layoutnav-item16,
.layoutnav-item17 {
  position: absolute;
  top: 48px;
  left: 1.7px;
  width: 240px;
  height: 36px;
  color: var(--gray-600);
}
.layoutnav-item17 {
  top: 120px;
  width: 230px;
}
.layoutnav-item18,
.layoutnav-item19,
.layoutnav-item20 {
  position: absolute;
  top: 192px;
  left: 1.7px;
  width: 230px;
  height: 36px;
  color: var(--primary);
}
.layoutnav-item19,
.layoutnav-item20 {
  top: 84px;
  color: var(--gray-600);
}
.layoutnav-item20 {
  top: 156px;
}
.layoutcollablse-heading17 {
  position: absolute;
  top: 0;
  left: 1.7px;
  border-top: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 230px;
  height: 48px;
}
.sidebar2 {
  position: absolute;
  top: 208px;
  left: 130.3px;
  width: 241.7px;
  height: 1448px;
}
.clothings3,
.home12 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.clothings3 {
  left: 71px;
}
.iconcontrolchevron-right10,
.iconcontrolchevron-right11,
.iconcontrolchevron-right12 {
  position: absolute;
  top: 2px;
  left: 45px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.iconcontrolchevron-right11,
.iconcontrolchevron-right12 {
  left: 145px;
}
.iconcontrolchevron-right12 {
  left: 259px;
}
.mens-wear3,
.summer-clothing3 {
  position: absolute;
  top: 0;
  left: 171px;
  letter-spacing: -0.2px;
  line-height: 24px;
}
.summer-clothing3 {
  left: 286px;
}
.breadcrumb5,
.breadcrumb6,
.nav-breadcrumb3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 411px;
  height: 24px;
}
.breadcrumb5,
.breadcrumb6 {
  top: 20px;
  left: 133px;
}
.breadcrumb5 {
  top: 142px;
  left: 0;
  width: 1440px;
  height: 64px;
  overflow: hidden;
  color: var(--gray-500);
}
.wonlex-ct10-smart {
  position: absolute;
  top: 650px;
  left: 622px;
  letter-spacing: -0.2px;
  line-height: 24px;
  color: var(--color-gray-500);
  display: inline-block;
  width: 668px;
  height: 52px;
}
.imageflagsicon26 {
  position: absolute;
  height: 0.72%;
  width: 1.66%;
  top: 4.48%;
  right: 10.97%;
  bottom: 94.8%;
  left: 87.36%;
}
.wonlex {
  position: absolute;
  top: 516px;
  left: 165px;
  color: var(--color-black);
  display: inline-block;
  width: 80px;
  height: 6px;
}
.smart-watch {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 2446px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-base-size);
  color: var(--base-color-dark);
  font-family: var(--text-base);
}
